:root {
    --white: #fff;
    --black: #222;
    --pink: #f60091;
    --grey: #444;
    --grey2: #959595;
    --grey-alt: #d1e2e9;
    --yellow: #ffd800;
    --green: #59b210;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 90%;
  }
  
  body {
    background-color: #fff;
    color: #243a6f;
    position: relative;
    z-index: 1;
  }
  
  section {
    padding: 100px;
  }
  
  h1,
  h2,
  h3,
  h4 {
    font-weight: 500;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
  }
  
  
  li {
    list-style: none;
  }
  
  /* .container {
    max-width: 120rem;
    margin: 0 auto;
  } */
  

  .container-md {
    max-width: 100rem;
    margin: 0 auto;
  }
  
  .new_arrivals_title h2::after {
    content: " ";
    position: absolute;
    left: 50%;
    bottom: -70%;
    transform: translate(-50%, -50%);
    background-color: #198754;
    width: 15%;
    height: 0.4rem;
    z-index: 1;
  }
  
  .love {
    margin-left: 26%;
    margin-right: 7%;
  }
  
  .cart {
    font-size: 20px;
    margin-left: 0;
    margin-right: 0;
  }
  
  .card-title {
    font-size: 15px;
  }
  
  .card img {
    height: calc(100vh / 2.24);
  }
  
  .slick-prev::before, .slick-next::before {
    color: black;
  }
  
  .love-purchase {
    margin-left: 28%;
    margin-right: 0;
  }
  
  .love-purchase i {
    font-size: 19px;
  }
  
  form {
    position: relative;
    z-index: 1;
  }
  
  form a {
    text-transform: uppercase;
  }
  
  form span {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    z-index: 0;
  }
  
  /* Detail */
  .product-detail .details {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 7rem;
  }
  
  .product-detail .left {
    display: flex;
    flex-direction: column;
  }
  
  .product-detail .left .main {
    text-align: center;
    background-color: #fff;
    margin-bottom: 2rem;
    height: 39rem;
    /* padding: 3rem; */
  }
  
  .product-detail .left .main img {
    object-fit: contain;
    height: 100%;
  }
  
  .product-detail .thumbnails {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }
  
  .product-detail .thumbnail {
    width: 7rem;
    height: 7rem;
    background-color: #fff;
    text-align: center;
  }
  
  .product-detail .thumbnail img {
    height: 100%;
    object-fit: contain;
  }
  
  .product-detail .right span {
    display: inline-block;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .product-detail .right h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
  
  .product-detail .right .price {
    font-size: 600;
    font-size: 2rem;
    color: red;
    margin-bottom: 2rem;
  }
  
  .product-detail .right div {
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  
  .product-detail .right select {
    font-family: "Poppins", sans-serif;
    width: 20rem;
    padding: 0.7rem;
    border: 1px solid #ccc;
    appearance: none;
    outline: none;
  }
  
  .product-detail form {
    margin-bottom: 2rem;
  }
  
  .product-detail form span {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    z-index: 0;
  }
  
  .product-detail .form {
    margin-bottom: 3rem;
  }
  
  .product-detail .form input {
    padding: 0.8rem;
    text-align: center;
    width: 3.5rem;
    margin-right: 2rem;
  }
  
  .product-detail .form .addCart {
    background: red;
    padding: 0.8rem 4rem;
    color: #fff;
    border-radius: 3rem;
  }
  
  .product-detail h3 {
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  
  /* .product-detail img {
    border: 1px solid black; 
  }  */
  
  /* footer */
  footer {
    border: 1px solid black;
  }
  
  .title {
    width: 73%;
    font-size: 23px;
  }
  
  .info {
    font-size: 15px;
  }
  
  .media {
    color: gray;
  }
  
  .fast-access {
    margin-left: 65px;
  }
  
  .policy {
    margin-left: 20px;
  }
  
  .ways-to-pay {
    margin-left: 20px;
  }
  
  .verrified {
    margin-left: 20px;
  }
  
  .fa-facebook:hover {
    color: rgb(74, 74, 218);
  }
  
  .fa-instagram:hover {
    color: purple;
  }
  
  .fa-tiktok:hover {
    color: white;
  }
